<div class="col-md-6 offset-md-3">
    <h3>Alkalmazott módosítása</h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Vezetéknév</label>
            <input type="text" class ="form-control" id = "lastName"
                [(ngModel)] = "employee.lastName" name = "lastName">
        </div>
    
        <div class="form-group">
            <label> Keresztnév</label>
            <input type="text" class ="form-control" id = "firstName"
                [(ngModel)] = "employee.firstName" name = "firstName">
        </div>
    
        <div class="form-group">
            <label> Email cím</label>
            <input type="text" class ="form-control" id = "emailAddress"
                [(ngModel)] = "employee.emailAddress" name = "emailAddress">
        </div>
    
        <button class = "btn btn-success" type ="submit">Küldés</button>
    
    </form>
    </div> 
